#root {
  width: 100%;
  height: 100%;
}

#root>.canvas-container{
  width: 100%;
  height: 100%;
  display: flex;
}

#root>.canvas-container>canvas,#root>.canvas-container>div{
  height: 100%;
  width: 100%;
}
